{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!------------------Add this portion to the main.py-------------------->
<!--@app.route('/(your route)')-->
<!--def (def_name) ():-->
    <!--title = ("title")-->
    <!--return render_template('(name_of_your).html', titile=title)-->
<!------------------Add this portion to the main.py------------------>

<!-------- Your title for the webpage goes here------------->
{% block title %}{{title}}{% endblock %}

{% block doc %}
{{super()}}
{% endblock %}


<!--This contains the navbar elements-->
{% block navbar %}
 {{ super() }}                          
{% endblock %}

<!--This contains the TheConnect image-->
{% block head %}
 {{ super() }}
{% endblock %}


<!--This contains the three Cards below the TheConnect image-->
{% block content %}
<!-- Page Content -->
    <div class="container">

      <h1 class="my-4 card text-center border-0" >About The Connect</h1>
      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-12 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text">Just some dudes making an app</p>
            </div>
            <div class="card-footer">
              <a href="/" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
	</div>
	<!-- /.container -->
{% endblock %}


<!--This contains the latin text and the call to arms button-->
{% block body %}
{{ super() }}
{% endblock %}
