{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}
	<!-- Call to Action Section -->
	<div class="container">
	 <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Register</a>
        </div>
      </div>
	
	</div>
{% endblock %}



{% block body %}
{{ super() }}
{% endblock %}