
{% extends "base_profile.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{title}}{% endblock %}

{% block doc %}
{{super()}}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block head %}
<div class="container">
    <div class="container">
        <div class="card text-light bg-secondary mb-3 col-8" >
        <h5>{% if company %}{{company}}{% else %} Company Name {% endif %}</h5>
            <div class="card-body bg-white text-dark">

            </div>
            <h5 class="card-title">Resume</h5>

            <a href="/user_resume" class="btn btn-primary">LAUNCH RESUME</a>
        </div>
    </div>
    <div class="card text-dark bg-secondary mb-3 text-nowrap col-4">

        <img src={{profile_pic}} class="card-img rounded-circle" onerror="this.src='../static/img/b.jpg'"
          style="margin-top: 10px;">
        <div class="card-title bg-white text-center" style="margin-top: 20px">
        <div class="card-body text-left">
            <p><b>Degree:</b> {{degree}}</p>
            <p><b>School:</b> {{school}}</p>
            <p><b>GPA:</b> {{gpa}}</p>
            <p><b>Email:</b> {{email}}</p>
            <p><b>Phone:</b> {{phone}}</p>

        </div>
        </div>
    </div>
</div>




{% endblock %}


{% block content %}
{% endblock %}



{% block body %}
{{ super() }}
{% endblock %}