
{% extends "base_profile.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{title}}{% endblock %}

{% block doc %}
{{super()}}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block head %}
<div class="row">
    <div class="col-5">
        <div class="card text-light bg-secondary mb-3" style="width: 25em;margin:50 auto;">
        <h5 class="card-title">Description</h5>
            <div class="card-body bg-white text-dark">
                {{description}}
            </div>
        </div>
    </div>
    <div class="card text-dark bg-secondary mb-3 text-nowrap col-4">

        <img src={{profile_pic}} class="card-img rounded-circle" onerror="this.src='../static/img/b.jpg'"
          style="margin-top: 10px;">
        <div class="card-title bg-white text-center" style="margin-top: 20px">
            <h5>{% if company %}{{company}} {% else %} company {% endif %}</h5>
        <div class="card-body text-left">
			<p><b>UserID:</b> {{UserID}}</p>
            <p><b>Address:</b> {{address}}</p>
            <p><b>City:</b> {{city}}</p>
            <p><b>State:</b> {{state}}</p>
            <p><b>Zipcode:</b> {{zipcode}}</p>
            <p><b>Phone:</b> {{phone}}</p>
            <p><b>Website:</b> {{website}}</p>
            <p><a href={{edit}} class="btn btn-primary">Edit profile</a></p>
        </div>
        </div>
    </div>
</div>




{% endblock %}


{% block content %}
{% endblock %}



{% block body %}
{{ super() }}
{% endblock %}
