{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}



<!-------- Your title for the webpage goes here------------->
{% block title %}{{title}}{% endblock %}


<!--This contains the navbar elements-->
{% block navbar %}
 {{ super() }}                        
{% endblock %}

<!--This contains the TheConnect image-->
{% block head %}
{{ super() }}
{% endblock %}


{% block content %}
	<div class="container">
	<div class="card text-center">
		<div class="card-header" >
			<h1>Internship Created!</h1>
		</div>
	</div>
	</div>
{% endblock %}


<!--This contains the latin text and the call to arms button-->
{% block body %}
{{ super() }}
{% endblock %}